<!DOCTYPE html>
<html>
  <head>
    <title>Ivan Lee - Portfolio</title>
    <link rel="stylesheet" href="./style.css"/>
    <script>
        function showPopup(bool) {
  if (bool) {
    document.getElementById('popup').style.visibility = 'visible'
  } else {
    document.getElementById('popup').style.visibility = 'hidden'
    }
   }
    </script>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <div id="home">
        <div class="profile_name">
          Ivan Lee
          <div class="contact_info">
            <img src="html_finalprojimages/envelope.png" alt="https://icons8.com/icon/124377/circled-envelope"/>
          cyleeax@connect.ust.hk
        </div>
        <div style="clear:both;"></div>
        <div class="contact_info">
          <img src="html_finalprojimages/phone.png" alt="https://icons8.com/icon/124377/circled-envelope"/>
          +852 34859226

        </div>
        </div>
        <div class="topdiv">
          <a class="topmenu" href="#about-me">About Me</a>
          <a class="topmenu" href="#skills">Skills</a>
          <a class="topmenu" href="#projects">Project</a>
          <a class="topmenu" href="#recommendations">Recommendation</a>
        </div>
      </div>    
    </nav>

    <!-- About Me -->
    <section id="about-me" class="container">
      <div>
        <img src="html_finalprojimages/photo.jpeg" class="profile_image"/>
      </div>
      <div>
          <h1>
            Hi, I'm Ivan Lee! <img src="https://twemoji.maxcdn.com/2/72x72/1f44b.png" width="60px"/>
          </h1>
          <p>
            I am a full stack developer with half year of experience in both application and presentation layers.
            I have worked on applications and microservices deployed on IBM Cloud. 
            I am an avid user of IBM Watson Services and have worked on Watson language translator. 
            Also, I had deployed my project on Microsoft Azure, AWS and GCP.
          </p>
      </div>
    </section>
              
    <!-- Skills -->
    <section id="skills">
      <h2>Skills</h2>
      <div style="clear:both;"></div>

      <div class="all_skills">
        <div class="skill">
          <img src="html_finalprojimages/html5.png"/>
          <h6>HTML</h6>
          <p>3 months experience</p>
        </div>  

        <div class="skill">
          <img src="html_finalprojimages/js.jpeg"/>
          <h6>JavaScript</h6>
          <p>half year experience</p>
        </div>  

        <div class="skill">
            <img src="html_finalprojimages/java.png"/>
            <h6>Java</h6>
            <p>1 year experience</p>
        </div>  
        <!-- Add more skills here -->
        <div class="skill">
            <img src="html_finalprojimages/node.png"/>
            <h6>Node.js</h6>
            <p>half year experience</p>
        </div>  
        <div class="skill">
            <img src="html_finalprojimages/CSS3.png"/>
            <h6>CSS3</h6>
            <p>3 months experience</p>
        </div>  
        <div class="skill">
            <img src="html_finalprojimages/CPP.jpg"/>
            <h6>C++</h6>
            <p>3 years experience</p>
        </div> 
      </div>
    </section>
          
    <!-- Projects -->
    <section class="projects" id="projects">
      <h2>
        Projects
      </h2>
      <div style="clear:both;"></div>

        <div id="projects-container" class="projects-container">
          <div class="project-card">
            <h3>Pseudo Cardealer website</h3>
            <ul>
              <li>A website that can let users make comment on specific fictious car dealer</li>
              <a href="https://carshop2.azurewebsites.net/djangoapp">Car Dealer</a>
            </ul>
          </div>
          <hr>
          <div class="project-card">
            <h3>Java COVID related csv data querying project</h3>
            <ul>
              <li>Developed a system for querying and visualizing covid related data from given csv dataset</li>
              <a href="https://github.com/SamuraiLee0513007/T28-Project-COMP3111.git">COVID project</a>
            </ul>
          </div>
          <hr>
          <div class="project-card">
            <h3>IBM Watson translator project</h3>
            <ul>
              <li>Created an webapp by utilizing IBM Watson translator's functionality and deployed to AWS, GCP and Microsoft Azure</li>
              <a href="https://github.com/SamuraiLee0513007/IBM_Watson.git">IBM translator</a>
            </ul>
          </div>
          <div class="project-card">
            <h3>Django App</h3>
            <ul>
              <li>Created a Django application for creating hypethetical multiple choices quizzes to let student answer</li>
              <a href="https://github.com/SamuraiLee0513007/final-cloud-app-with-database.git">Django final Exam system</a>
            </ul>
          </div>
    </div>
    </section>
    <div style="clear:both;"></div>

    <section class="recommendations" id="recommendations">
    <table border="1">
        <tr>
            <th>S.N</th>
            <th>Recommendation</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(result){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=result.recommendation %></td>
            <td><a href="/delete/<%=result.recommendation%>">Delete</a></td>
           <td><form action="/edit" method="post">
                <input type="hidden" id="recommendation" name="recommendation"value="<%=result.recommendation%>"></input>
                <input type="text" id="updatenew_recommendation" name="updatenew_recommendation"></input>
                <td><input type="submit" value="Update"></input></td>  
            </form></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
   </section>
    <!-- Recommendation Form -->
    <form action="/recommendation/" method="post">
      <div class="flex_center">
        <fieldset>
          <legend class="introduction">Leave a Recommendation</legend>          
          <input type="text" placeholder="Name (Optional)"> <br/>
          <input id="new_recommendation" type="text" name="new_recommendation" cols="500" rows="10" placeholder="Message"></input>
          <div class="flex_center">
            <input type="submit" value="Submit">
            <a href="/">Reload</a>
          </div>
        </fieldset>
      </div>
    </form>
    <div class="iconbutton">
      <a href="#home">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" width="63px">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </a>
    </div>

    <div class="popup" id="popup" class="flex_center">
      <img src="html_finalprojimages/checkmark--outline.svg"/>
      <h3>Thanks for leaving a recommendation</h3>
      <button onclick="showPopup(false)">Ok</button>
    </div>
  </body>
</html>
